---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/home/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];





---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="py-5 sm:py-10">
    <div class="mx-auto max-w-2xl px-4 sm:px-4 lg:max-w-7xl lg:px-8">
      <div class="grid sm:grid-cols-1 md:grid-cols-2 flex-col-reverse gap-10 lg:grid-cols-3">
        {
          uniqueTags.map((tag) => (
          <a href=`/tags/${tag}` class="">
          <button class="w-full basis-1/2">
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dd class="text-2xl font-medium tracking-tight">{tag}</dd>
              </div></button>
            </a> 
           
          ))
          
        }
      </div>
    </div>
  </section>
</Layout>