---
const stats = [
  {
    value: 'Palworld',
  },
  {
    value: 'Genshin Impact',
  },
  {
    value: 'Counter Strike 2',
  },
  {
    value: 'Rust',
  },
  {
    value: 'GTA V',
  },
  {
    value: 'Skyrim',
  },
  {
    value: 'Farlight 84',
  },
];
---

<section class="py-8 sm:py-8">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="768"
        height="512"
        src="/images/raiden shogun roll safe meme.webp"
        alt="Phaylali, the founder of the omniversify"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Who Are We?</h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Greetings Earthlings, We are the gaming division of the Omniversify Project.
            </p>
          </div>
        </div>
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Games & Topics</h2>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
            <button onclick="">
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dd class="text-2xl font-medium tracking-tight">{stat.value}</dd>
              </div></button>
            ))
          }
        </dl>
        <iframe src="https://discord.com/widget?id=547089655359864844&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        
      
      </div>
    </div>
  </div>
</section>
