---
import Layout from '../layouts/Layout.astro';
const confirm =  Astro.url.searchParams.get('confirmation_url');
---

<Layout
  description="Page not found. Please check the URL in the address bar and try again."
  title="Stickers Email Verification | Omniversify"
>
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex flex-col gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            <div>Sign Up Confirmation</div>
            <div>تاكيد التسجيل</div>
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            To be able to use the stickers app with all its functionalities please click on the confimation button below
          </p>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            لتتمكن من استخدام التطبيق بكامل  استخداماتها، المرجو الضغط على الزر اسفله
          </p>
        </div>
        <a
        href="{{ .confirmation_url }}"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >Confirm Sign Up</a>
        <a href=`${confirm}`
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >Confirm Sign</a>
      </div>
    </div>
  </section>
</Layout>