<section class="giscus">

    <script src="https://giscus.app/client.js"
        data-repo="phaylali/gaming"
        data-repo-id="R_kgDOKeM_bg"
        data-category="General"
        data-category-id="DIC_kwDOKeM_bs4CeQyK"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</section>